{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/python-vault.css') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set content_split = page.content|split('</p>', 2) %}
    {% set additional_content = '' %}
    {% if content_split|length > 1 %}
        {% set additional_content = content_split[1] %}
    {% endif %}

    <section class="python-vault python-vault--single">
        {% include 'partials/python-vault/snippet-card.html.twig' with { snippet: page, is_list: false } %}
    </section>

    {% if additional_content %}
        <div class="python-vault__additional-content">
            {{ additional_content|raw }}
        </div>
    {% endif %}

    <div class="python-vault__cta python-vault__cta--page-bottom">
        {% include 'partials/python-vault/add-snippet-button.html.twig' %}
    </div>
{% endblock %}

{% block bottom %}
    {{ parent() }}
    {% do assets.addJs('theme://js/python-vault.js', { group: 'bottom', loading: 'defer' }) %}
{% endblock %}
