{# Custom template for the reviews page. #}

{% extends 'partials/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/reviews-custom.css') %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="bricklayer">
        {% for review in page.collection %}
            {% include 'partials/review-card.html.twig' with { 'review': review } %}
        {% endfor %}
    </div>

    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}
