@media screen and (min-width: 980px) {
    .blog-3-col .bricklayer-column-sizer {
        width: 33.3%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
    font-family: "Chewy", cursive;
    color: #f8f8f2;
}

/* Headers in hero sections of modular pages marked with the `text-light` class. */
.hero.text-light h1,
.hero.text-light h2,
.hero.text-light h3,
.hero.text-light h4,
.hero.text-light h5,
.hero.text-light h6,
.hero.text-light i,
.hero.text-light p {
    color: #f8f8f2;
}

/* The small titles of features like the last ones in the workshop page. */
.modular-features .feature-icon h6 {
    scale: 1.2;
    color: #838c9f;
    background: #191919;
}

/* Little "featured" icons, like the ones in the blog. */
.modular-features.small .feature-icon i {
    color: #515763;
}

#sidebar,     /* Text on the sidebar of the blog. */
#breadcrumbs, /* Text inside the breadcrumbs. */
details,      /* `details` for the little dropdown with the tags in the blog. */
i,            /* `i` for the FontAwesome icons. */
time,         /* For the times at which blog posts were written. */
figcaption,   /* For the image captions. */
p,
li,
label {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #f8f8f2;
}

/* Centre images in blog posts. */
.blog-listing img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* Justify the text of paragraphs inside the body,
    exclude the ones in the footer section, in the hero sections,
    the "feature" texts under icons in the workshops page,
    and elements specifically aligned to the centre. */
body p:not(#footer p, .hero p, .feature-content p, .text-center) {
    text-align: justify;
}

.float-right {
    margin-left: 20px;
}

/* Colour of the navigation menu item's text. Use !important because so does the default theme.
 * Include a very specific CSS selector: when this is not included, this very same specific
 * selector in the theme CSS overrides this and makes the text too dark, so we override it again,
 * because we are more stubborn then the theme :P */
nav a, .header-dark #header:not(.scrolled) .dropmenu ul ul a {
    color: #f8f8f2 !important;
}
/* Fix the colouring of the same navigation menu when I hover over links. */
.header-dark #header:not(.scrolled) .dropmenu ul li a:hover {
    color: #fff !important;
}


#header, body,
.modular-features.offset-box .frame-box /* This is for the main box in the Workshops page that is "closer" to the screen. */
{
    background: #191919;
}

/* Set the background colour of the alternating modular pages. */
section.modular-text.bg-gray {
    background: #1e1f1f !important;
}

blockquote {
    border-left-color: #555555;
}

#sidebar input {
    background: #191919;
    border-color: #555555;
}

#sidebar input:focus {
    border-color: #478ce0;
}

/* Background colour for button classes like the "Random Article" button or the "Subscribe the newsletter". */
.button, .btn {
    background: #191919;
}
.btn:hover, .button:hover {
    background: #202a37;
}

/* Background colour for blog tags. */
.tags .label {
    background: #202a37;
}

/* Colour for the numbers in the Blog archive and for the text in the selected tag in the blog. */
.label.label-primary {
    color: #f8f8f2;
}

/* Borders for the pagination numbers at the top of the blog listings. */
.pagination li {
    border-color: #333333;
}

/* Set the colours for pieces of inline code. */
code {
    background: #282020;
    color: #f97f87;
}
/* And now for multiline. */
pre code {
    background: #1e1d1e;
    color: #f8f8f2;
}

/* Set visited links to a darker shade of blue. */
a:visited {
    color: #3c72b2;
}

/* Background colour and shadow for the header menu. */
.dropmenu.animated ul li ul {
    background: #191919;
    box-shadow: 0 1px 4px #555555;
}

#footer {
    background: #1e1f1f !important; /* Use !important because the footer has the class bg-gray, that sets the colour with !important as well. */
}

/* Blog post cards with correct background and shadow. */
.blog-listing .card {
    background: #1a1919;
    box-shadow: 0 10px 45px -9px #333333;
}

.notices.blue {
    border-left-color: #1a6b83;
    background: #1d2022;
}
.notices.blue > * {
    color: #288aa6;
}
.notices.green {
    border-left-color: #327c32;
    background: #1c221c;
}
.notices.green > * {
    color: #5b9a5b;
}
.notices.yellow {
    border-left-color: #854f03;
    background: #221e1a;
}
.notices.yellow > * {
    color: #ac6808;
}
.notices.red {
    border-left-color: #d9534f;
    background: #231e1e;
}
.notices.red > * {
    color: #e27673;
}

/*
Magical CSS that implements a dark mode in 2 lines.
We precede by the same code applied to the elements we want untouched.

img, .parallax, .reaction-item__button img {
    filter: invert(1) hue-rotate(180deg);
}

body {
    filter: invert(.9) hue-rotate(180deg);
    background: rgba(0, 0, 0, 0.9);
}
*/

/* https://stackoverflow.com/a/13184714/2828287 */
/* Compensates for the height of the website header. */
a.headeroffset {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

/* CSS to change the social icons in the footer. */
.social-icon-container {
    font-size: 28px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.social-icon {
    color: #f8f8f2;
}

/* CSS to style "share this blog post" buttons that scroll
 * with the user.
 * Created by mimicking the code of the "Buy me a coffee" widget. */
/* If the screen is not wide enough, just hide the buttons. */
@media screen and (max-width:920px) {
    .custom-scrollable, .custom-scrollable > * {
        display: none;
    }
}
@media screen and (min-width:920px) {
    .custom-scrollable, .custom-scrollable > * {
        display: flex;
    }
}

.custom-scrollable {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.7rem;
    border-radius: 2rem; 
    /* Custom computation of distance to left margin of the screen
     * to stay at a constant distance of the blog post content.
     * For the 488 = 976/2, we found out that 976 is the maximum
     * width that the blog content can take up (as per its CSS). */
    left: calc(50vw - 488px - 5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s ease;
}

/* CSS for the image-captions plugin. */
figure.image-caption {
    text-align: center;
    margin: 1rem;
}
figure.image-caption figcaption {
    opacity: 0.7;
    font-size: 90%;
}
figure.figure-right {
    float: right;
    margin-right: 0;
}
figure.figure-left {
    float: left;
    margin-left: 0;
}
figure.caption-left figcaption {
    text-align: left;
}
figure.caption-right figcaption {
    text-align: right;
}
/* End of the CSS for the image-captions plugin. */

/* Mimic the CSS rule that keeps paragraphs "tight" in the modular pages (cf. /education),
 * but use it for blockquotes as well.
 */
.modular-features .frame-box > blockquote { 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Add some CSS to make sure the Gumroad button doesn't look weird
   because of interactions with the plugin that adds those icons to external links. */
a.gumroad-button, a.external-link.no-image.gumroad-button {
  background: none;
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */
#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Atkinson Hyperlegible", "Open Sans", "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:20px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
#mc_embed_signup{clear:left; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


#revue-embed form {text-align:center; padding:10px 0 10px 0;}
#revue-embed input.email {font-family:"Atkinson Hyperlegible", "Open Sans", "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#revue-embed .clear {display: inline-block;} /* positions button horizontally in line with input */
#revue-embed .button {font-size: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#revue-embed div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
@media (max-width: 768px) {
    #revue-embed input.email {width:100%; margin-bottom:5px;}
    #revue-embed .clear {display: block; width: 100% }
    #revue-embed .button {width: 100%; margin:0; }
}
#revue-embed {clear:left; width:100%;}
/* Have the links with the same colour as the text and in a smaller font. */
#revue-embed a {text-decoration: underline; color: #f8f8f2;}
div.revue-form-footer *{font-size: small;}
