h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chewy", cursive;
    <!-- color: #006ea0; -->
}
p,
li {
    font-family: "Miriam Libre", sans-serif;
    <!-- font-weight: bold; -->
}

/* https://stackoverflow.com/a/13184714/2828287 */
/* Compensates for the height of the website header. */
a.headeroffset:target {
    /*display: block;
    position: relative;
    top: -64px;
    visibility: hidden;*/
    display: inline-block;
    height: 80px;
    margin-top: -80px;
}
