h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chewy", cursive;
    <!-- color: #006ea0; -->
}
p,
li {
    font-family: "Miriam Libre", sans-serif;
    <!-- font-weight: bold; -->
}

img, .parallax {
    filter: invert(0.5) hue-rotate(180deg);
}
body {
    filter: invert(.9) hue-rotate(180deg);
    background: rgba(0, 0, 0, 0.9);
}

/* https://stackoverflow.com/a/13184714/2828287 */
/* Compensates for the height of the website header. */
a.headeroffset {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}
