/* Stolen and adapted from bricklayer to include more columns than the blog by default. */
@media screen and (min-width: 640px) {
    .bricklayer-column-sizer {
        width: 50%;
    }
}

@media screen and (min-width: 980px) {
    .bricklayer-column-sizer {
        width: 33.33333%;
    }
}

.review-card {
    background-color: #282a36;
    color: #f8f8f2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0.1, 0.1, 0.1);
    padding: 20px;
    display: block;
    break-inside: avoid;
    overflow: hidden;
    margin-bottom: 10px;
}

.reviewer-photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    float: left;
    margin-right: 15px;
}

.review-content {
    font-style: italic;
    margin-top: 0;
    text-align: justify;
    overflow: hidden;
}

.review-meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    margin-top: 15px;
}

.review-link {
    color: #8be9fd;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.review-link:hover {
    color: #50fa7b;
}

.review-content span {
    background-color: #44475a;
    color: #f1fa8c;
    padding: 2px 4px;
    border-radius: 4px;
}
