@media screen and (max-width:920px) {
    .custom-scrollable, .custom-scrollable > * {
        display: none;
    }
}

@media screen and (min-width:920px) {
    .custom-scrollable, .custom-scrollable > * {
        display: flex;
    }
}

.custom-scrollable {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.7rem;
    border-radius: 2rem; 
    left: calc(50vw - 488px - 5rem);
    box-shadow: 0 4px 8px rgba(173, 179, 189, 0.4);
    z-index: 9999;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s ease;
}
