{# templates/partials/newsletter-subscription.html.twig #}

<form name="subscribe" action="{{ page.header.form.action }}" method="POST" id="subscribe" class="newsletter-form">
  <div class="form-group">
    <div class="input-group">
      <input data-grav-field="hidden" data-grav-disabled="true" type="hidden" class="input" name="data[publication_id]" value="{{ page.header.publication_id }}">
      <input
        type="email"
        name="data[email]"
        class="form-input"
        placeholder="Your email address"
        required
        style="color: var(--tx); background-color: var(--bg); border-color: var(--ui);"
      />
      <button
        type="submit"
        class="btn"
        style="background-color: var(--accent); color: var(--bg); border-color: var(--accent-2);"
      >
        Subscribe
      </button>
    </div>
  </div>

  {{ form_field('honeypot', { field: { name: 'honeypot' } }) }}
  {{ form_field('captcha', { field: { name: 'g-recaptcha', recaptcha_site_key: config.plugins.form.recaptcha.site_key } }) }}

  {# Grav Form plugin will process the form according to page.header.form.process automatically #}
</form>
