<div id="random-sentences" style="text-align:center; margin-bottom:-16px">
    <!-- https://learn.getgrav.org/16/cookbook/twig-recipes#picking-a-random-item-from-a-translated-array -->
    {% set langobj = grav['language'] %}
    {% set curlang = langobj.getLanguage() %}
    {% set sentences = langobj.getTranslation(curlang, 'RANDOM_SENTENCES', true) %}
    <p style="font-size:90%"> {{ random(sentences) }} </p>
</div>