{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
<span class="tags">
    {% for tax,value in taxlist[taxonomy]|slice(top_tags) %}
        {% set label_class = (uri.paths|last) == (tax|replace({' ': '-'})) ? 'label-primary' : 'label-secondary' %}
        <a class="label label-rounded {{ label_class }}" href="/blog/tags/{{ tax|replace({' ': '-'}) }}">{{ tax }}</a>
    {% endfor %}
</span>
{% endif %}
