{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
<span class="tags">
    {% for tax,value in taxlist[taxonomy]|slice(0, top_tags) %}
        {% set label_class = page.url.rtrim('/') ends with ('/' ~ (key|replace({' ': '-'}))) ? 'label-primary' : 'label-secondary' %}
        <a class="label label-rounded {{ label_class }}" href="/blog/tags/{{ tax }}">{{ tax }} | {{ value }}</a>
    {% endfor %}
</span>
{% endif %}
