{% set url = url|default('https://github.com/mathspp/mathspp/issues/new/choose') %}
<a class="python-vault__add-snippet-button" href="{{ url }}" target="_blank" rel="noopener noreferrer">
    Add new snippet
</a>
