{% set grid_size = theme_var('grid-size') %}

<script src="/user/themes/quark/js/bricklayer.min.js"></script>
<script src="/user/themes/quark/js/scopedQuerySelectorShim.min.js"></script>
<link href="/user/themes/quark/css/bricklayer.css" type="text/css" rel="stylesheet"></link>
<link href="/user/themes/myquark/css/reviews-custom.css" type="text/css" rel="stylesheet"></link>

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">

        {{ page.content | raw }}

        {% set tags_to_filter = header_var("review-tags") | defined([]) %}
        {% if tags_to_filter|length > 0 %}
            {% set collection = taxonomy.findTaxonomy({"category": "review"})
                | filter(
                    page => page.taxonomy()["review-tag"]
                    | filter(tag => tag in tags_to_filter)|length > 0
                ) 
                | sort_by_key("slug")
            %}
        {% else %}
            {% set collection = taxonomy.findTaxonomy({"category": "review"}) | sort_by_key("slug") %}
        {% endif %}

        <div class="bricklayer">
            {% for review in collection %}
                {% include 'partials/review-card.html.twig' with { 'review': review } %}
            {% endfor %}
        </div>

    </section>
</section>

<script>
    //Bricklayer
    var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
</script>
