{% set collection = page.collection() %}


<script src="user/themes/myquark/js/bricklayer.min.js"></script>
<script src="user/themes/myquark/js/scopedQuerySelectorShim.min.js"></script>
<link href="user/themes/myquark/css/bricklayer.css" type="text/css" rel="stylesheet"></link>
<link href="user/themes/myquark/css/reviews-custom.css" type="text/css" rel="stylesheet"></link>

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">

        {{ page.content | raw }}

        <div class="bricklayer">
            {% for review in collection %}
                {% include 'partials/review-card.html.twig' with { 'review': review } %}
            {% endfor %}
        </div>

        <div style="display:flex;justify-content:center">
            <p><a href="/testimonials/write" class="button">Add your testimonial</a></p>
        </div>

    </section>
</section>

<script>
    //Bricklayer
    var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
</script>
