{% set collection = page.collection() %}

{% block javascripts %}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {% do assets.addCss('theme://css/reviews-custom.css') %}
{% endblock %}

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {{ page.content|raw }}
    </section>
</section>

<div class="bricklayer section modular-text">
    {% for review in collection %}
        {% include 'partials/review-card.html.twig' with { 'review': review } %}
    {% endfor %}
</div>

<div style="display:flex;justify-content:center">
    <p><a href="/testimonials/write" class="button">Add your testimonial</a></p>
</div>

<script>
    //Bricklayer
    var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
</script>
