{% set grid_size = theme_var('grid-size') %}

<section class="section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            <div class="column col-12">
                {{ content|raw }}
            </div>
        </div>
    </section>
</section>
