@keyframes fade {
    0% {
        background: #ff07;
        box-shadow: 0 0 1em yellow;
    }
    50% {
        background: #ff07;
        box-shadow: 0 0 1em yellow;
    }
}

.highlight {
    animation: fade 2s;
    position: relative;
}

/*
ol {
    list-style-position: inside;
}

ol li {
    margin-top: 50px;
    margin-bottom: -50px;
}
*/
