/* https://stackoverflow.com/a/13184714/2828287 */
a.anchor {
    display: block;
    position: relative;
    top: -46px;
    visibility: hidden;
}

@keyframes fade {
    0% {
        background: #ff07;
        box-shadow: 0 0 1em yellow;
        border-radius: 1em;
    }
    50% {
        background: #ff07;
        box-shadow: 0 0 1em yellow;
        border-radius: 1em;
    }
}

.highlight {
    animation: fade 2s;
    padding-left: 2em;
    margin-left: -2em;
    padding-right: 1em;
    margin-right: -1em;
    position:relative;
    z-index:-1;
}
