{{ add_anchors("<h2>Become the smartest Python 🐍 developer in the room 🚀</h2>") }}

{% markdown %}
Every Monday, you'll get a Python deep dive that unpacks a topic with analogies, diagrams, and code examples so you can write clearer, faster, and more idiomatic code.
{% endmarkdown %}

{% include "forms/form.html.twig" with { form: forms( {route: "/insider/_hero" } ) } %}
