<span class="blog-date">
    <time class="dt-published" datetime="{{ page.header.updated|date("c") }}">
        , last edited <i class="fa fa-eraser"></i> {{ page.header.updated|date(system.pages.dateformat.short) }}
    </time>
</span>
