<span class="blog-date">
    <time class="dt-published" datetime="{{ page.updated|date("c") }}">
        Last edited <i class="fa fa-pen-to-square"></i> {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>
