{% set references = header_var("references")|defined([]) %}
{% if 0 < references|length %}
<h1>{{ 'THEME_MY_QUARK.BLOG.REFERENCES_TITLE'|t }}</h1>

<ul>
{% for ref in references %}
  <li>{{ ref }}</li>
{% endfor %}
</ul>
{% endif %}
