<span class="stats-table">
{% markdown %}
<!--
[[[cog
import cog, subprocess
result = subprocess.run(["uv", "run", "tools/stats.py"], text=True, capture_output=True)
cog.outl(result.stdout)
]]]-->
<table class="stats-table">
    <thead>
        <tr>
            <th style="text-align: center;">379</th>
            <th style="text-align: center;">418,266</th>
            <th style="text-align: center;">35,030</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center;">articles</td>
            <td style="text-align: center;">words</td>
            <td style="text-align: center;">lines of code</td>
        </tr>
    </tbody>
</table>

<!--[[[end]]]--->
{% endmarkdown %}
</span>
