<span class="stats-table">
{% markdown %}
<!--
[[[cog
import cog, subprocess
result = subprocess.run(["python", "pages/02.blog/stats.py"], text=True, capture_output=True)
cog.outl(result.stdout)
]]]-->
| 362 | 400,054 | 32,892 |
| :-: | :-: | :-: |
| articles | words | lines of code |
<!--[[[end]]]--->
{% endmarkdown %}
</span>
