<span class="stats-table">
{% markdown %}
<!--
[[[cog
import cog, subprocess
result = subprocess.run(["uv", "run", "tools/stats.py"], text=True, capture_output=True)
cog.outl(result.stdout)
]]]-->

<!--[[[end]]]--->
{% endmarkdown %}
</span>
